@import './normalize.css';

:root {
	--color-issue7: #ff608c;
	--color-issue6: #fff;
	--color-issue5: #00c1b5;
	--color-issue4: #ff6519;
	--color-issue3: #ffbe00;
	--color-issue2: #1d3fbb;
	--color-issue1: #e30512;
	--color-text-dark: #000;
	--color-text-light: #fff;
}

body {
	background: var(--color-issue7);
	transition: background-color 0.5s;
}

.issue7 {
	background: var(--color-issue7);
}

.issue6 {
	background: var(--color-issue6);
}

.issue5 {
	background: var(--color-issue5);
}

.issue4 {
	background: var(--color-issue4);
}

.issue3 {
	background: var(--color-issue3);
}

.issue2 {
	background: var(--color-issue2);
}

.issue1 {
	background: var(--color-issue1);
}

/* Typography */

html {
	/* 62.5% of 16px = 10px */
	font-size: 62.5%;
}

body {
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 1.5;
	color: var(--color-text-dark);
}

h1,
h2,
h3 {
	color: var(--color-text-dark);
	margin-bottom: 1rem;
	font-weight: 700;
	letter-spacing: -0.1rem;
	word-spacing: -0.1rem;
}

h1 {
	font-size: 2rem;
	font-weight: 800;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.5rem;
}

p {
	font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 3rem;
	}
}

/* Links */
.link {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}

.link--underline {
	text-decoration: underline;
}

.link--underline:hover {
	text-decoration: none;
}

.link--white {
	color: white;
}

.link--pink {
	color: var(--color-issue7);
}
