@import './normalize.css';

:root {
	--color-issue7: #ff608c;
	--color-issue6: #fff;
	--color-issue5: #00c1b5;
	--color-issue4: #ff6519;
	--color-issue3: #ffbe00;
	--color-issue2: #1d3fbb;
	--color-issue1: #e30512;
	--color-text-dark: #000;
	--color-text-light: #fff;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: background-color 0.5s;
	overflow: hidden;
}

@media screen and (min-width: 768px) {
	body {
		overflow: hidden;
	}
}

/* Typography */

html {
	/* 62.5% of 16px = 10px */
	font-size: 62.5%;
}

body {
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 1.5;
	color: var(--color-text-dark);
}

h1,
h2,
h3 {
	color: var(--color-text-dark);
	margin-bottom: 1rem;
	font-weight: 700;
	letter-spacing: -0.1rem;
	word-spacing: -0.1rem;
}

h1 {
	font-size: 2rem;
	font-weight: 800;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.5rem;
}

p {
	font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 3rem;
	}
}

/* Links */
.link {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}

.link--underline {
	text-decoration: underline;
}

.link--underline:hover {
	text-decoration: none;
}

.link--white {
	color: white;
}

.link--pink {
	color: var(--color-issue7);
}

/* Header */
.header {
	text-align: center;
	position: fixed;
	top: 0;
	display: flex;
	align-items: end;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
	padding: 0 4rem;
}

.header > h2 {
	display: none;
}

@media screen and (min-width: 1024px) {
	.header {
		justify-content: space-between;
	}

	.header > h2 {
		display: block;
	}
}

/* Footer */
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 4rem;
	max-width: 250px;
	display: none;
}

@media screen and (min-width: 1024px) {
	.footer {
		display: block;
	}
}

/* Issue Block */
.issue {
	height: 100vh;
	max-width: 420px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.issue__image {
	width: 100%;
}

.issue__header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.issue__heading {
	margin-top: 0;
}

.issue__content {
	text-align: center;
}

.issue__content-main > p {
	margin: 0;
}

.issue__content-sub {
}

.issue7 {
	background: var(--color-issue7);
}

.issue6 {
	background: var(--color-issue6);
}

.issue5 {
	background: var(--color-issue5);
}

.issue4 {
	background: var(--color-issue4);
}

.issue3 {
	background: var(--color-issue3);
}

.issue2 {
	background: var(--color-issue2);
}

.issue1 {
	background: var(--color-issue1);
}
