<section id="issue7" class="issue">
    <picture>
        <source srcset="images/issue_7.webp" type="image/webp">
        <source srcset="images/issue_7.png" type="image/png">
        <img
            class="issue__image"
            src="images/issue_7.png"
            alt="Issue 7 Book Cover"
        />
    </picture>
    <header class="issue__header">
        <h2 class="issue__heading">Issue #7</h2>
        <div class="issue__content">
            <div class="issue__content-main">
                <p>
                    <a class="link link--white" href="#">BUY HERE</a>
                    (Europe)
                </p>
                <p>
                    <a class="link link--white" href="#">BUY HERE</a>
                    (UK & Overseas)
                </p>
            </div>
            <p class="issue__content-sub">
                <p>
                    or in
                    <a href="#" class="link link--white">selected stores</a>
                </p>
            </p>
        </div>
    </header>
</section>