<body class="issue7">
    <section id="issue7" class="issue">
        <img
            class="issue__image"
            src="images/issue_7.png"
            alt="Issue 7 Book Cover"
        />
        <header class="issue__header">
            <h2 class="issue__heading">Issue #7</h2>
            <div class="issue__content">
                <div class="issue__content-main">
                    <p>
                        <a class="link link--white" href="#">BUY HERE</a>
                        (Europe)
                    </p>
                    <p>
                        <a class="link link--white" href="#">BUY HERE</a>
                        (UK & Overseas)
                    </p>
                </div>
                <p class="issue__content-sub">
                    <p>
                        or in
                        <a href="#" class="link link--white">selected stores</a>
                    </p>
                </p>
            </div>
        </header>
    </section>
    <section id="issue6" class="issue">
        <img
            class="issue__image"
            src="images/issue_6.png"
            alt="Issue 6 Book Cover"
        />
        <header class="issue__header">
            <h2 class="issue__heading">Issue #6</h2>
            <div class="issue__content">
                <div class="issue__content-main">
                    <p>
                        <a class="link link--pink" href="#">BUY HERE</a>
                    </p>
                </div>
                <p class="issue__content-sub">
                    <p>
                        or in
                        <a href="#" class="link link--pink">selected stores</a>
                    </p>
                </p>
            </div>
        </header>
    </section>
    <section id="issue5" class="issue">
        <img
            class="issue__image"
            src="images/issue_5.png"
            alt="Issue 5 Book Cover"
        />
        <header class="issue__header">
            <h2 class="issue__heading">Issue #5</h2>
            <div class="issue__content">
                <div class="issue__content-main">
                    <p>
                        <a class="link link--white" href="#">BUY HERE</a>
                    </p>
                </div>
                <p class="issue__content-sub">
                    <p>
                        or in
                        <a href="#" class="link link--white">selected stores</a>
                    </p>
                </p>
            </div>
        </header>
    </section>
    <section id="issue4" class="issue">
        <img
            class="issue__image"
            src="images/issue_4.png"
            alt="Issue 4 Book Cover"
        />
        <header class="issue__header">
            <h2 class="issue__heading">Issue #4 is sold out.</h2>
            <div class="issue__content">
                <p class="issue__content-sub">
                    <p>
                        If you are lucky, you may get the last pieces in 
                        <a href="#" class="link link--white">selected stores</a>
                    </p>
                </p>
            </div>
        </header>
    </section>
    <section id="issue3" class="issue">
        <img
            class="issue__image"
            src="images/issue_3.png"
            alt="Issue 3 Book Cover"
        />
        <header class="issue__header">
            <h2 class="issue__heading">Issue #3</h2>
            <div class="issue__content">
                <div class="issue__content-main">
                    <p>
                        <a class="link link--white" href="#">BUY HERE</a>
                    </p>
                </div>
                <p class="issue__content-sub">
                    <p>
                        or in
                        <a href="#" class="link link--white">selected stores</a>
                    </p>
                </p>
            </div>
        </header>
    </section>
    <section id="issue2" class="issue">
        <img
            class="issue__image"
            src="images/issue_2.png"
            alt="Issue 2 Book Cover"
        />
        <header class="issue__header">
            <h2 class="issue__heading">Issue #2</h2>
            <div class="issue__content">
                <div class="issue__content-main">
                    <p>
                        <a class="link link--white" href="#">BUY HERE</a>
                    </p>
                </div>
                <p class="issue__content-sub">
                    <p>
                        or in
                        <a href="#" class="link link--white">selected stores</a>
                    </p>
                </p>
            </div>
        </header>
    </section>
    <section id="issue1" class="issue">
        <img
            class="issue__image"
            src="images/issue_1.png"
            alt="Issue 1 Book Cover"
        />
        <header class="issue__header">
            <h2 class="issue__heading">Issue #1 is sold out.</h2>
            <div class="issue__content">
                <p class="issue__content-sub">
                    <p>
                        If you are lucky, you may get the last pieces in 
                        <a href="#" class="link link--white">selected stores</a>
                    </p>
                </p>
            </div>
        </header>
    </section>
</body>